<nav>
  <div class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container">
    <div class="logo">
      <a routerLink="/home" ><span class="logo">Vijay</span> <span class="logo-sub"> Poloju</span> </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse form-inline my-2 my-lg-0 justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav ml-0" style="margin-left: 15rem;">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</nav>

